.blogposts {
  background-color: #f7f7f7;
}

.blog__item {
  padding-bottom: 30px;
}

.sidebar-widget {
  margin-bottom: 40px;
  padding: 40px 30px;
  background: #fff;
  border-radius: 8px;
}

.post-recipe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.post-thumb {
  margin-bottom: 16px;
}

.radius-image {
  border-radius: 8px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.text-small a {
  display: block;
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
  margin-top: 10px;
}

.title-left {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 38px;
  font-weight: 600;
}

.post {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.text a {
  font-size: 20px;
  line-height: 28px;
  display: inline-block;
  margin-bottom: 10px;
  font-weight: 700;
  color: #000;
}

.blog-cat {
  list-style-type: none;
}

.blog-cat li a {
  position: relative;
  color: #161c2db3;
  font-size: 19px;
  font-weight: 500;
  display: block;
  padding: 10px 15px 10px 20px;
}

.blog-cat li a:hover {
  color: #ff6600;
}

.blog-cat li a:hover::before {
  opacity: 1;
}

.blog-cat li a::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: rgba(22, 28, 45, 0.7);
  position: absolute;
  top: 20px;
  left: 0px;
  border: 1px solid #f7f7f7;
  opacity: 0.3;
}

/* pagination */
.page-pagination {
  list-style-type: none;
}

.page-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.page-pagination span {
  display: block;
  padding: 8px 16px;
  color: #fff;
  border: 1px solid #ff6600;
  border-radius: 8px;
  font-weight: 700;
  background: #ff6600;
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.page-numbers {
  display: block;
  padding: 8px 16px;
  background-color: #f7f7f7;
  border: 1px solid #eee;
  border-radius: 8px;
  font-weight: 700;
  color: rgba(22, 28, 45, 0.7);
  transition: background-color 0.15s linear, color 0.15s linear;
  box-shadow: 0 25px 98px 0 rgb(19 19 19 / 3%);
}

.page-numbers:hover {
  background-color: #fff;
  color: #ff6600;
  border: 1px solid #ff6600;
}
