.twice-two {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 20px;
}

.form-control {
  background: #f7f7f7;
  border: 1px solid transparent;
  color: #161c2db3;
  font-size: 18px;
  padding: 12px 20px;
  line-height: 28px;
  width: 100%;
  border-radius: 8px;
  height: 58px;
}

.form-control:focus {
  outline: none;
  border: 1px solid #ff6600;
  background: #fff;
  box-shadow: none;
}

.contact textarea {
  resize: none;
  min-height: 200px;
}

.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 8px;
  border: 2px solid transparent;
}

.contact-view {
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 20px;
}

.cont-top {
  display: grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}

.cont-details h5 {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}

.cont-details a:hover {
  text-decoration: underline;
  opacity: 0.8;
  color: #000;
}

.cont-left i {
  font-size: 20px;
  margin-top: 5px;
  color: #ff6600;
}

.cont-details p,
.cont-details p a {
  font-size: 18px;
  line-height: 28px;
  color: #161c2db3;
}
