.email__bg-color {
  background-color: #f7f7f7;
}

.email__content {
  width: 650px;
  margin: auto;
  padding-top: 100px;
}

.email__content-header {
  background: url(../img/banner1.jpg) center center / cover no-repeat;
  height: 434px;
}

.overlay-banner {
  background: rgba(0, 7, 10, 0.5);
  z-index: 9;
  padding: 2em 0;
  width: 100%;
  height: 100%;
}

.email__header-top {
  padding: 0 32px 16px 32px;
}

.email__header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.email__header-nav p {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}

.email__bann__content {
  padding: 48px 32px;
}

.email__bann__content h2 {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;
  text-transform: capitalize;
  text-shadow: 2px 5px 3px rgb(0 0 0 / 15%);
  letter-spacing: 1px;
}

.email__bann__content p {
  color: #fff;
  letter-spacing: 1px;
}

.email__content-text-body {
  display: flex;
  align-items: center;
  text-align: left;
}

.email__content-text-left {
  width: 40%;
  margin-right: 40px;
}

.email__content-text-left p {
  color: #000;
  font-size: 26px;
  line-height: 35px;
}

.email__content-text-right {
  width: 60%;
}

.email__content-text-right p {
  font-size: 16px;
  color: #161c2db3;
  line-height: 28px;
}

.email__Popular h3 {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.email__Popular-img {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
}

.email__Popular-img img {
  width: 100%;
  border-radius: 6px;
}

.email__Popular-img a {
  line-height: 16px;
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
  color: #000;
  padding-top: 24px;
  display: block;
}

.email__create {
  background-color: #f1f0f7;
}

.email__create-top {
  display: flex;
  align-items: center;
}

.email__create-top img {
  width: 50%;
  padding-right: 25px;
}

.email__create-body h4 {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
  text-transform: capitalize;
}

.email__create-body p {
  font-size: 16px;
  color: #161c2db3;
  line-height: 28px;
}

.email__create-bottom {
  display: flex;
  padding-top: 60px;
  align-items: center;
}

.email__create-bottom img {
  width: 50%;
}

.email__deliciousness {
  background: url(../img/banner2.jpg) center center / cover no-repeat;
  height: 434px;
  text-align: center;
}

.email__deliciousness h6 {
  color: #fff;
  font-size: 38px;
  line-height: 48px;
  margin: 20px 0 30px 0;
}

.email__deliciousness p {
  margin: 10px 0 30px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

.email__mouth {
  text-align: center;
}

.email__mouth img {
  padding-top: 20px;
  width: 100%;
  border-radius: 8px;
}

.email__mouth h6 {
  color: #000;
  font-size: 30px;
  line-height: 48px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

.email__mouth p {
  margin: 0px 0 30px 0;
  color: #000;
  font-size: 14px;
  line-height: 28px;
}

.email__footer {
  background-color: #000;
}

.email__footer-row {
  display: flex;
}

.email__footer-col {
  padding-left: 30px;
  width: 50%;
}

.email__footer-col h3 {
  color: #fff;
  font-size: 22px;
}

.email__footer-col p {
  color: #a0a0a0;
  margin: 10px 0;
  font-size: 14px;
  line-height: 28px;
}

.email__footer-col h4 {
  color: #eee;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 400;
}

.email__copyright {
  padding: 12px 0;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #222;
}

.email__copyright p {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
